#login-form {
    width: 30%;
    height: 100vh;
    margin-top: 130px;
}

#login-form-values {
    border: 1px solid #ced4da;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    #login-form {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #login-form {
        width: 70%;
    }
}